.p-entry-content > h2 {
	border-bottom: 1px solid #da1e1e;
	border-left: none;
}

html :where(.editor-styles-wrapper) .is-layout-flow > h2.wp-block-heading {
	border-bottom: 1px solid #da1e1e;
	border-left: none;
}
