name: CI
on:
    push:
        branches: [main]
    pull_request:
jobs:
    ci:
        name: CI
        runs-on: ubuntu-latest
        permissions:
            contents: read
        timeout-minutes: 5
        steps:
            - name: Checkout code
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
            - name: Set up Node.js
              uses: volta-cli/action@5c175f92dea6f48441c436471e6479dbc192e194 # v4
            - name: Cache node_modules
              uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
              with:
                  path: node_modules
                  key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
                  restore-keys: ${{ runner.os }}-node-
            - name: Set up PHP
              uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # v2
            - name: Cache vendor
              uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
              with:
                  path: vendor
                  key: ${{ runner.os }}-vendor-${{ hashFiles('**/composer.lock') }}
                  restore-keys: ${{ runner.os }}-vendor-
            - name: Install Node dependencies
              run: npm install
            - name: Install Composer dependencies
              run: composer install
            - name: Build plugin
              run: npm run build
            - name: Lint PHP files
              run: composer lint
            - name: Lint Other files
              run: npm run lint
